Tagger:

<div class="tagger">
  <div class="tagger__tags">
    <span *ngFor="let tag of tags" class="tagger__tag">
      <template [ngTemplateOutlet]="singleTagTemplate || defaultSingleTagTemplate"
                [ngOutletContext]="{tag: tag}">
      </template>
      <a href="#" (click)="delete(tag)">&times;</a>
    </span>

    <input class="tagger__input"
           placeholder="Add new tag"
           #input
           (keyup)="onKeyUp($event, input)">

    <span *ngIf="error">{{ error }}</span>
  </div>
</div>

<template #defaultSingleTagTemplate let-tag="tag">
  {{ tag }}
</template>
