<tagger [tags]="tags"
        [singleTagTemplate]="tagTemplate"
        [afterTagsTemplate]="peopleSelectTemplate"
        [tagValidator]="emailValidator"
        (newTag)="handleNewTag($event)"
        (deleteTag)="handleDeleteTag($event)"
></tagger>

<template #tagTemplate let-tag="tag">
  <span *ngIf="tag.type === 'candidate'">
    <img [src]="tag.avatar" class="tag__avatar">
    <strong class="tag__name">{{ tag.name }}</strong>
    <span class="tag__email">({{ tag.email }})</span>
  </span>

  <span *ngIf="tag.type === 'email'">{{ tag.email }}</span>
</template>

<template #peopleSelectTemplate>
  <span (click)="showPeople = !showPeople">
    [<span *ngIf="showPeople">-</span><span *ngIf="!showPeople">+</span>]
  </span>
</template>

<div *ngIf="showPeople">
  <ul>
    <li *ngFor="let person of people">
      <label>
        <input type="checkbox"
               name="people"
               value="person"
               [(ngModel)]="person.selected"
               (change)="handleCheckboxChange(person)">
        <img [src]="person.avatar"> {{ person.name }} ({{ person.email }})
      </label>
    </li>
  </ul>
</div>
